accelerate~=1.14.0
transformers~=4.54.1
diffusers~=0.39.0
ftfy~=6.3.1
opencv-python~=4.13.0.92
einops~=0.8.2
bitsandbytes~=0.49.2
triton~=3.3.1; platform_system == "Linux"
triton-windows~=3.3.1.post21; platform_system == "Windows"
lion-pytorch~=0.2.5
schedulefree~=1.4.1
pytorch_optimizer==3.10.1
prodigy-plus-schedule-free~=2.0.1
prodigyopt~=1.1.2
dadaptation~=3.2
torchastic~=0.1.2
torch-optimi~=0.3.3
adv_optm @ git+https://github.com/67372a/Advanced_Optimizers@enhancements #~=2.5.12
kornia~=0.8.3
tensorboard~=2.21.0
safetensors~=0.8.0
wandb~=0.28.1
toml~=0.10.2
voluptuous~=0.16.0
huggingface-hub[hf_xet]~=0.36.2
hf-xet~=1.5.2
matplotlib~=3.11.1
scipy~=1.15.3
RamTorch @ git+https://github.com/67372a/RamTorch
customized-optimizers @ git+https://github.com/67372a/customized-optimizers
lycoris-lora @ git+https://github.com/67372a/LyCORIS@dev
PyWavelets~=1.9.0
imagesize~=2.0.0
numpy~=2.2.6
urllib3~=2.7.0
rich~=15.0.0
sentencepiece~=0.2.2
pytorch-wavelets==1.3.0
# flash-attention is installed explicitly in the installer to avoid uv due to url normalization issues
# https://github.com/sdbds/flash-attention-for-windows/releases/download/2.8.0.post2/flash_attn-2.8.0.post2+cu128torch2.7.1cxx11abiFALSEfullbackward-cp311-cp311-win_amd64.whl; platform_system == "Windows" and python_version == "3.11"
# https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.0.post2/flash_attn-2.8.0.post2+cu12torch2.7cxx11abiFALSE-cp310-cp310-linux_x86_64.whl; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
# https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.0.post2/flash_attn-2.8.0.post2+cu12torch2.7cxx11abiFALSE-cp311-cp311-linux_x86_64.whl; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.11"
# https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.0.post2/flash_attn-2.8.0.post2+cu12torch2.7cxx11abiFALSE-cp312-cp312-linux_x86_64.whl; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
# https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.0.post2/flash_attn-2.8.0.post2+cu12torch2.7cxx11abiFALSE-cp313-cp313-linux_x86_64.whl; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
# for kohya_ss library 
-e .
